.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1150px;
  margin: 40px 0;

  .top {
    margin-bottom: 20px;
  }

  .bottom {
    width: 1150px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    display: flex;
    width: 100%;

    .bottom {
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    width: 100%;

    .bottom {
      flex-wrap: wrap;
    }
  }
}
