.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1150px;
  margin: 40px 0;

  .top {
    margin-bottom: 20px;
  }

  .bottom {
    width: 1150px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
