.wrapper,
.wrapper-dark {
  width: 100vw;
  height: 100%;
  padding-top: 10px;

  .cart {
    width: 900px;
    height: auto;
    margin: 80px auto 0;
    background-color: #fff;
    padding: 16px 26px 62px;

    .cart-title {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid rgb(228, 228, 228);
      padding-bottom: 12px;
    }

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border-bottom: 1px solid rgb(228, 228, 228);
      padding-bottom: 4px;

      .heading-name {
        flex: 9;
      }

      .heading-quantity {
        display: flex;
        flex: 2;
        justify-content: center;
      }

      .heading-price {
        display: flex;
        flex: 2;
        justify-content: center;
      }

      .heading-btn {
        display: flex;
        justify-content: center;
        flex: 2;
      }
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 12px;
      font-size: 14px;

      .item-info {
        display: flex;
        align-items: center;
        flex: 10;

        .info-title {
          font-size: 16px;
        }
      }

      .details {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 3;

        .quantity {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: -36px;

          span {
            padding: 0 8px;
          }

          button {
            padding: 4px 10px;
            background-color: transparent;
          }
        }
      }

      .delete {
        flex: 2;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        .delete-btn {
          cursor: pointer;
        }
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      padding: 4px 0;
      border-top: 1px solid rgb(228, 228, 228);
      border-bottom: 1px solid rgb(228, 228, 228);
      font-weight: 700;
    }

    .cart-content {
      position: relative;
    }

    .payment-btn {
      width: 140px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      border-radius: 6px;
      background-color: #307ade;
      color: #fff;
      font-weight: 500;
      margin: 12px 6px 0;
      position: absolute;
      right: 0;
    }
  }
}

.wrapper-dark {
  background-color: #18191a;

  .cart {
    background-color: #242526;
    color: #fff;

    .cart-title {
      border-bottom: 1px solid #939393;
    }

    .quantity {
      button {
        color: #fff;
      }
    }

    .total {
      border-top: 1px solid #939393;
      border-bottom: 1px solid #939393;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper,
  .wrapper-dark {
    .cart {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .wrapper,
  .wrapper-dark {
    width: 100%;

    .cart {
      width: 100%;
    }
  }
}
