.menu-item,
.menu-item-dark {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 4px;
  transition: background-color ease-in-out 200ms;

  &.active {
    color: #000;
  }

  &:hover {
    background-color: rgba(2, 24, 35, 0.03);
  }

  .symbol {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
  }

  .title {
    margin-left: 12px;
    padding: 10px 0;
  }
}

.menu-item-dark {
  .title,
  .symbol {
    color: #fff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .menu-item,
  .menu-item-dark {
    font-size: 14px;
    padding: 0 8px;

    .symbol {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .menu-item,
  .menu-item-dark {
    font-size: 12px;

    .title {
      display: none;
    }
  }
}
