.wrapper {
  width: 230px;
  font-size: 14px;

  .color {
    display: flex;
    align-items: center;
    justify-content: start;

    p {
      margin: 0;
      width: 70px;
    }

    .active {
    }

    .color-detail {
      width: 20px;
      height: 20px;
      margin: 0 6px;
      border-radius: 50%;
      border: 1px solid #ccc;
    }
  }
}
