.card,
.card-dark {
  width: 182px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 12px;

  .image {
    width: 100%;
    height: 200px;
    position: relative;

    .second-img {
      display: none;
    }

    &:hover {
      .second-img {
        z-index: 2;
        display: block;
      }

      .main-img {
        display: none;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      position: absolute;
    }

    .main-img {
      z-index: 1;
      display: block;
    }

    span {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #e01020;
      color: #fff;
      padding: 3px 16px;
      z-index: 3;
      font-size: 12px;
      font-weight: 600;
      border-top-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  .card-info {
    padding: 0 8px;
  }

  .title {
    font-size: 14px;
    font-weight: 800;
    height: 50px;
  }

  .price {
    display: flex;
    align-items: center;

    .current-price {
      font-size: 11px;
      color: gray;
      text-decoration: line-through;
      line-height: 24px;
    }

    .sale-price {
      font-size: 14px;
      color: #d70018;
      font-weight: 700;
      line-height: 24px;
      margin-left: 4px;
    }
  }

  .promotion {
    background-color: #efefef;
    font-size: 12px;
    text-align: justify;
    border-radius: 12px;
    border: 1px solid #e1e1e1;
    padding: 4px 8px;

    P {
      margin-bottom: 0;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 12px;

    p {
      font-size: 12px;
    }

    span {
      display: flex;
      cursor: pointer;

      .bottom-icon {
        margin-top: 3px;
        padding: 0 2px;
      }
    }
  }
}

.card-dark {
  background-color: #242526;

  .card-info {
    color: #fff;
  }

  .promotion {
    background-color: #3a3b3c;
    border: 1px solid transparent;
  }
}
