.wrapper {
  margin-top: 90px;
}

.product {
  padding: 20px 160px;
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    flex: 1;

    .images {
      display: flex;
      justify-content: center;
      margin-top: 18px;

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        cursor: pointer;
        // border: 1px solid #277cea;
        margin: 0 12px 10px;
      }
    }

    .main-img {
      img {
        width: 100%;
        height: 440px;
        object-fit: cover;
        margin-left: 12px;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 40px;

    .price {
      font-weight: 600;

      .current-price {
        font-size: 14px;
        text-decoration: line-through;
      }

      .sale-price {
        margin-left: 6px;
        font-size: 20px;
        color: red;
      }
    }

    .desc {
      font-size: 16px;
      font-weight: 300;
      align-items: justify;
      margin: 12px 0;
    }

    .color {
      display: flex;
      align-items: center;
      width: 230px;
      font-size: 14px;

      p {
        margin: 0;
        width: 70px;
      }

      // .active {
      // }

      .color-detail {
        width: 20px;
        height: 20px;
        margin: 0 6px;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }

    .memory {
      display: flex;
      align-items: center;
      width: 250px;
      margin: 16px 0;
      font-size: 14px;

      p {
        margin: 0;
        width: 70px;
      }

      .memory-detail {
        width: 54px;
        margin-left: 6px;
        border: 1px solid #ccc;
        font-size: 14px;
        border-radius: 2px;
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid rgb(189, 189, 189);
        background-color: transparent;
      }

      span {
        width: 50px;
        text-align: center;
        border: 1px solid rgb(189, 189, 189);
        line-height: 38px;
      }
    }

    .buy-now,
    .add {
      width: 300px;
      padding: 12px;
      background-color: rgb(221, 75, 57);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      font-weight: 500;
      margin-bottom: 12px;
      border-radius: 12px;
    }

    .add-icon {
      padding: 0 6px;
    }

    .installment {
      width: 300px;
      display: flex;
      gap: 8px;

      button {
        flex: 1;
        padding: 12px 0;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        border: none;
        background: linear-gradient(180deg, #3a78d0, #277cea);
        border-radius: 12px;
      }
    }

    .sumary {
      margin-top: 12px;
      display: flex;

      .like {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 114px;
      }
      .sold {
        margin: 0 80px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      color: gray;
      font-size: 14px;
      margin-top: 30px;

      hr {
        width: 200px;
        border-top: 1px solid rgb(160, 160, 160);
      }
    }

    hr {
      border-top: 1px solid rgb(160, 160, 160);
    }
  }

  // .active {
  //   color: red;
  //   font-size: 30px;
  // }
}
