.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid rgb(245, 245, 245);

  &:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
  }
}

.wrapper-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
}

.info {
  .name {
    font-weight: 400;
  }

  .price-sale {
    font-size: 13px;
    font-weight: 600;
    color: #000;
  }

  .price {
    font-size: 12px;
    margin-right: 6px;
    text-decoration: line-through;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
