.search,
.search-dark,
.search-result,
.search-result-dark {
  width: 460px;
}

.search-result h5,
.search-result-dark h5 {
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
}

.search-result-dark h5 {
  background-color: #242526;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
}

.search,
.search-dark {
  position: relative;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 12px;
  padding-left: 16px;
  display: flex;
  border: 1px solid transparent;

  input {
    flex: 1;
    height: 100%;
    padding-right: 40px;
    color: var(--black);
    font-size: 1.6rem;
    caret-color: var(--primary);
    background-color: transparent;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: 52px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border: 1px solid rgba(22, 24, 35, 0.12);
  }

  .search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    margin: 0 !important;

    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
      cursor: pointer;
    }
  }

  .search-btn-dis {
    width: 52px;
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 2rem;
  }

  .clear,
  .loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY((-50%));
    color: rgba(22, 24, 35, 0.34);
  }

  .loading {
    animation: spinner 0.8s linear infinite;
  }
}

.search-dark {
  background-color: #3a3b3c;

  input {
    color: #fff;
    caret-color: #fff;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: #fff;
  }

  &::after {
    background-color: #7b7b7b;
  }

  &:focus-within {
    border: 1px solid #fff;
  }

  .search-btn {
    color: #fff;
    background-color: #3a3b3c;

    &:hover {
      background-color: #242526;
    }
  }

  .search-btn-dis {
    color: #fff;
    background-color: #3a3b3c;
  }

  .clear,
  .loading {
    color: #fff;
    background-color: #3a3b3c;
  }
}

@keyframes spinner {
  from {
    transform: translateY((-50%)) rotate(0);
  }
  to {
    transform: translateY((-50%)) rotate(360deg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 200px;

    .search-dark,
    .search {
      width: 100%;
      height: 30px;
      padding: 2px 4px;

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 24px;
        height: 20px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
      }

      .clear,
      .loading {
        font-size: 10px;
        right: 30px;
      }

      .search-btn,
      .search-btn-dis {
        padding: 0 2px;
        width: 20px;
        font-size: 10px;
      }

      input {
        padding: 2px 4px;
        font-size: 12px;
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    .search-result-dark,
    .search-result {
      width: 200px;
    }

    .search-dark,
    .search {
      width: 100%;
      height: 30px;
      padding: 2px 4px;

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 24px;
        height: 20px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
      }

      .clear,
      .loading {
        font-size: 10px;
        right: 30px;
      }

      .search-btn,
      .search-btn-dis {
        padding: 0 2px;
        width: 20px;
        font-size: 10px;
      }

      input {
        padding: 2px 4px;
        font-size: 12px;
        width: 100px;
      }
    }
  }
}
