.wrapper,
.wrapper-dark {
  width: 100%;
  display: flex;
  margin-top: 80px;

  .products {
    padding: 20px 110px;
    display: flex;

    .left {
      flex: 1;
      font-size: 14px;
      margin-right: 18px;

      .filter-item {
        margin-bottom: 30px;

        h2 {
          font-weight: 400;
          margin-bottom: 20px;
        }

        .input-item {
          margin-bottom: 10px;

          label {
            margin-left: 10px;
          }

          span:first-child {
            margin-right: 8px;
          }

          span:last-child {
            margin-left: 8px;
          }
        }
      }
    }

    .right {
      flex: 4;

      .banner {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 50px;
      }
    }
  }
}

.wrapper-dark {
  background-color: #18191a;
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper,
  .wrapper-dark {
    width: 100%;

    .products {
      padding: 6px;

      .left {
        h2 {
          font-size: 14px;
        }

        label,
        span {
          font-size: 12px;
        }
      }

      .right {
        .banner {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .wrapper,
  .wrapper-dark {
    width: 100%;
    margin-top: 40px;

    .products {
      padding: 6px;
      display: block;

      .left {
        display: flex;
        justify-content: space-between;
        margin-right: 0;

        .filter-item {
          flex: 1;
          margin-bottom: 6px;

          h2 {
            font-size: 12px;
            margin-bottom: 6px;
          }
        }

        label,
        span {
          font-size: 10px;
        }
      }

      .right {
        .banner {
          display: none;
        }
      }
    }
  }
}
